.uiGrid {
             -fx-background-color: #353737;
         }

.label {
            -fx-text-fill: #FFF;
            -fx-padding: 0 0 0 5;
            -fx-font-weight: bold;
            -fx-font-size: 15;




        }