.root {
      -fx-background-image: url("background.png");
             -fx-background-repeat: stretch;
             -fx-background-size: 1300 750;
             -fx-background-position: center center;
         }


.play-red {
    -fx-background-color: #9d2e4a;
    -fx-padding: 25 90 25 90;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-radius:0;
    -fx-font-size: 40px;
    }

 .options-blue {
    -fx-background-color: #2d7ec1;
   -fx-padding: 25 55 25 55;
       -fx-text-fill: #FFFFFF;
       -fx-font-weight: bold;
       -fx-background-radius:0;
       -fx-font-size: 40px;
    }

    .highscore-gray {
    -fx-background-color: #5a5e5f;
    -fx-padding: 25 25 25 25;
           -fx-text-fill: #FFFFFF;
           -fx-font-weight: bold;
           -fx-background-radius:0;
           -fx-font-size: 40px;
    }

    .exit-black {
      -fx-background-color: #000000;
      -fx-padding: 25 101 25 101;
             -fx-text-fill: #FFFFFF;
             -fx-font-weight: bold;
             -fx-background-radius:0;
             -fx-font-size: 40px;
      }

    .exit-black:hover{
        -fx-background-color: #363636;
        }

    .play-red:hover{
    -fx-background-color: #b35c72;
    }

    .options-blue:hover{
    -fx-background-color: #6697c0;
    }

    .highscore-gray:hover{
    -fx-background-color: #818586;
    }



